.container {
    padding: 0 30px;
    .delete-color {
        color: red;
        &:focus {
            color: #ff0000;
        }
        &:hover {
            color: #ff0000 !important;
        }
        &:active {
            color: #ff0000 !important;
        }
    }
    .on-out {
        margin: 0 32px;
    }
}
//
.role-content {
    background-color: #fff;
    margin-bottom: 16px;
    .role-form {
        .el-form-item{
            margin: 32px 0 32px 20px;
        }
        
    }

    .global-table-title {
        padding-left: 20px;
        border-bottom: 1px solid rgba(240, 242, 245, 1);
    }
}
.org-tree-node-label {
    white-space: nowrap;
  }
  .bg-white {
    background-color: white;
  }
  .bg-orange {
    background-color: orange;
  }
  .bg-gold {
    background-color: gold;
  }
  .bg-gray {
    background-color: gray;
  }
  .bg-lightpink {
    background-color: lightpink;
  }
  .bg-chocolate {
    background-color: chocolate;
  }
  .bg-tomato {
    background-color: tomato;
  }