.container {
    //padding: 0 30px;
    .delete-color {
        color: red;
        &:focus {
            color: #ff0000;
        }
        &:hover {
            color: #ff0000 !important;
        }
        &:active {
            color: #ff0000 !important;
        }
    }
    .on-out{
        margin: 0 32px;
    }
}
.p-t-0 {
    padding-top: 0;
}