.child-line {
    color: rgba(216, 216, 216, 1);
}
.delete-color{
    color:red;
    &:focus {
        color: #ff0000;
    }
    &:hover {
        color: #ff0000 !important;
    }
    &:active {
        color: #ff0000 !important;
    }
}
.router-message{
    color:rgba(191,191,191,1);
    font-size: 12px;
}
.el-table__expand-icon {
    color: rgba(24, 144, 255, 1);
    .el-icon-arrow-right:before {
        content: '\e7a0';
    }
}
.el-table__expand-icon--expanded {
    transform: rotate(0);
    color: #666;
    .el-icon-arrow-right:before {
        content: '\e7a2';
    }
}
